@model CentroSalud3.Models.Medico

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>

<body>
<div>
    <h4 class="text-primary">Dr. @Model.MedicoNombre</h4>

    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoNombre)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoConsulta)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoTelefono)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicoEmail)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumPacientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumPacientes)
        </dd>
    </dl>
</div>

<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.MedicoId" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Atrás</a>
</div>
</body>
</html>
